<html>
    <head>
   
    </head>
    <body>

        <h1 class="hed">Warther App Here </h1>
        {{>header}}
        this is the hbs file here {{value}}
    
     <li>hh</li>
     <li>hy</li>
    <a >about</a>
     <a  >about</a>
      <a  >about</a>
      <form >
      <input type="text"  >
      <button type="submit" >submit</button>
      </form>
       <script src="/client_js/home.js"></script>
      </body>
</html>